<div style="margin-left: 30%; margin-right: 20%;">
  <p style="color: green"><%= notice %></p>


    <div id="articles">
      <% @articles.each do |article| %>
        <div id="<%= dom_id article %>">
          <div class="text-center">
            <p class="image-fluid">
              <%= link_to image_tag article.image_url if article.image %>
            </p>
          </div>
          <div class="container">
            <div class="row">
              <div class="col-1">
                  like
              </div>
              <div class="col-2">

                  <%= link_to "comment", new_comment_path, class:"fa-regular fa-heart" %>
                

              </div>
              <div class="col-1">
                share
              </div>                
            </div>     

            <p class="border-bottom">
               <strong>
                <%= "130,074 likes" %>
              </strong><br>
              <strong>
                <%= current_user.username %>
                
              </strong>
               <%= article.body %>
            </p>
          </div>
        </div>

        <p>
          <%= link_to "view all comments", article %>
        </p>
        <br>
        <div class="border-bottom">
          <%= time_ago_in_words(article.created_at) %>
        </div>



      <% end %>
    </div>

    <%#= link_to "New article", new_article_path %>
 
</div> 