<div style="margin-left: 30%; margin-right: 20%;">
  <p style="color: green"><%= notice %></p>


    <div id="articles">
      <% @articles.each do |article| %>
        <div id="<%= dom_id article %>">
          <div class="text-center">
            <p class="image-fluid">
              <%= link_to image_tag article.image_url if article.image %>
            </p>
          </div>
            <p class="border-bottom">
               <%= article.title %>
               <%= article.body %>
            </p>

            

           

        </div>

        <p>
          <%= link_to "Show this article", article %>
        </p>
      <% end %>
    </div>

    <%#= link_to "New article", new_article_path %>
 

</div> 